<% if (error && error.length > 0) { %>
    <div class="alert alert-danger" role="alert">
    <%= error %>
    </div>
<% } %>
<% if (success && success.length > 0) { %>
    <div class="alert alert-success" role="alert">
    <%= success %>
    </div>
<% } %>
<style>
    .alert{
        position:fixed;
        margin-top: 0%;
        margin-left: 40%;
        font-size: 40px;
        padding-left: 100px;
        padding-right: 100px;        
    }
    .alert-danger{
     
        opacity: 0.8;
        background-color: rgb(241, 69, 69);
        border-radius: 10px;
      
    }
    .alert-success{
        background-color: rgb(75, 255, 75);
        border-radius: 10px;
        opacity: 0.8;
    }
    
</style>