<!DOCTYPE html>
<html>
<head>
<title>TO DO LIST</title>

<script src="script.js" defer></script>
<script src="https://kit.fontawesome.com/a076d05399.js"></script>
<style>
    .logo img{
        float:left;
        width: 160px;      
    }
    .main{
        max-width: 1500px;        
        margin: auto;
    }
</style>
</head>
<body>
   
    <div class="main">
            
        <ul>
    
            <label for="check" class="checkb">
                <i class="fas fa-bars"></i>
            </label>
            <li><a class="active" href="/"\\>HOME</a></li>                
            <li><a href="/signup">SIGN UP</a></li>
            <li><a href="/login">LOG IN</a></li>
            
        </ul>

    </div>

    
</body>
</html>
