<%- include("partials/header") %> 
    <form action="/ricefield" method="post">
        <div>add to card number </div>    
        <input type="text" class="form-control" name ="n">
        <input type="text" class="form-control" name ="s1">
        <input type="text" class="form-control" name ="s2">           
        <button type="submit"></button>
    </form>
<%- include("partials/footer") %> 