<%- include("partials/header") %> 
    <form action="/todo/<%= uid %>" method="post">
        <div>add to card number </div>            
        <input type="text" class="form-control" name ="s1">
        <input type="text" class="form-control" name ="s2">           
        <button type="submit" name="id" value=<%= cid %> </button>
    </form>
<%- include("partials/footer") %> 