<%- include("partials/header") %> 
<ul>
    <% tad.forEach(function(tadd){ %>
        <li>
            
        <br>
        <div class="todolist">
            <div class = "cover-img">
                <div>name: <%= tadd.name %></div>
            </div>
            <div class="content">
                <form class="add">
                    <input type="text" name="add" placeholder="Add u list">
                    <div class="input-button">
                        <a href="#0" class="add-todo">
                           <i class="fa fa-plus add"></i>
                        </a>
                       
                    </div>
                </form>
            </div>
        <%- include("top",{sub:tadd.sub}) %>
        </div>
        </li>
        
    <% }); %>
</ul>
    
    
<%- include("partials/footer") %> 