<%- include("partials/homeh") %>
<%- include("partials/homestyle") %>
<%- include("partials/navbar") %>
    <header>
        
        <div class="title">
            <h1>MANAGE YOUR LIFE</h1>
           
            
        </div>
        
    </header>
        
    <section class= "about">
        <div class ="content-box">
            <h2 class="heading" >Start Planning Today</h2>

            <p class="text">Whether it's for work, a side project or even the next family vacation</p>

        </div>
    <div class="img-Box">



    </section>
<%- include("partials/homef") %>    
