<%-include("partials/showtaskStyle")%>
<div class="newTask_Box">
    <form>
        <a href="#0" class="back">
            <i class="fa fa-arrow-left" aria-hidden="true"></i>
         </a>
        <p><%= Task.name %></p>
        <input type="text" name="task" placeholder="Task Name">
        <p>Date</p>
        <input type="date" name="date" >
        <p>Description</p>
        <input type="text" name="text" placeholder="Description">
        <input type="submit" name="submit" value="DONE">
        
    </form>
</div>