<%- include("partials/header") %>
    
        <div class ="notComp">
            

                <h3>Todo</h3>
                <% sub.forEach(function(subb){ %>
                    <div class="task">
                    <%= subb.subn %>
                    
                    <i class="fa fa-trash"></i>
                    <i class="fa fa-check"></i>
                <%})%>
                
                 
                
            
            
        </div>
    
    
       
  
        

<%- include("partials/footer") %> 