<%- include("partials/header") %>
    <% let ts = Object.values(sub) %>
    <% console.log(ts) %>
    <% ts.forEach(function(sub){ %>
         <div>sub: <%= sub %> </div>
    <%})%>
       
  
        

<%- include("partials/footer") %> 