*{
    margin: 0;
    padding: 0;
    font-family: 'PT Sans', sans-serif;
    box-sizing: border-box;
}

body{
    background: rgb(237, 187, 153 );
    min-height: 100vh;
}

.todolist{
    position: relative ;
    top: 45%;
    left: 70%;
    transform: translate(-50%,-50%);
    width: 320px;
    height: 500px;
    background: #ffffff;
    border-radius: 10px;
    box-shadow: 0 7px 30px rgba(62,9,11,3);
    max-width: 800px;
    margin: auto;
    margin-top:300px;
    margin-right: 100px;
    padding: 10px;

}
.ntdl{
    width: 98%;
    border: none;
    border-bottom: 2px solid #000000;
    background: none;
    padding: 10px;
    outline: none;
    font-size: 18px;
}

h3{
    margin: 10px 0;

}

.task{
    width: 98%;
    background: #c3c0c0;
    padding: 18px;
    margin: 6px 0;
    overflow: hidden;

}

.task i{
    float: right;
    margin-left: 20px;
    cursor: pointer;
}

.comp .task{
    background: rgba(0, 0, 0,0.5);
    color: #ffffff;

}

.content{
    padding: 10px 20px;
}

.content form{
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
    padding: 0 10px 0 5px;
    border-bottom: 1px solid #8e979c;
    
}
.content form > * {
    background: transparent;
    border: none;
    height: 35px;
}
li{
    float: left;
}
